h2 {
   text-align: center;
   padding-top: 2rem;
   font-size: xx-large;
}

h3 {
    padding: 2rem 0 0 0;
    font-size: larger;
}

.portfolio__container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5rem;
    gap: 35px;
    justify-content: center;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    transition: var(--transition);
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

@media only screen and (max-width: 600px) {
.portfolio__container {
    grid-template-columns: auto;
    padding: 2rem;
}
}