h3{
    padding: 10px 0 0 0;
}

h2 {
    padding: 10px;
}
.contact__container {
    padding: 100px 0;
    display: grid;
    justify-content: center;
    align-content: center;
}

.contact__options {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 0.5rem;
    transition: var(--transition);
}

.contact_option {
    margin: 2rem;
    padding: 5rem 3.5rem;
    background-color: var(--color-bg-variant);
    border-radius: 2rem;

}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 2rem;
    margin-bottom: 0.1rem;
}

.gmail {
    color: #EA4335;
}

.fb {
    color:#4267B2;
}

.whatsapp {
    color: #25D366;
}

.contact__option a {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1rem;
}

.contact__option h3 {
    color: var(--color-light);
}

@media only screen and (max-width: 1025px) and (min-width: 601px) 
{
     .contact__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}


@media only screen and (max-width: 600px) and (min-width: 1px) {
    .contact__container {
        width: var(----container-width-ms);
    }
}