
h2 {
    text-align: center;
    font-size: xx-large;
}

h3 {
    font-size: larger;
    text-align: center;
}

.contact__container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 2rem 5rem 10rem 5rem;
    gap: 35px;
    justify-content: center;
}

.contact_option {
    background: var(--color-bg-variant);
    padding: 2rem 5rem;
    border-radius: 2rem;
    text-align: center;
    transition: var(--transition);

}

.contact__option:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.contact__option-icon {
    font-size: 3rem;
}

a {
    color: white;
}

.gmail {
    color: #EA4335;
}

.fb {
    color:#06276a;
}

.whatsapp {
    color: #25D366;
}

@media only screen and (max-width: 600px) {
    .contact__container {
        grid-template-columns: auto;
        padding: 2rem 5rem;
    }
}
