.experience__container {
    padding-top: 2rem;
    min-width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}   

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    padding-left: 30%;
    gap: 2.5rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

@media only screen and (max-width: 600px) {
    .experience__container {
        flex-direction: column;
    }
}