h2 {
    text-align: center;
    padding: 2rem;
    font-size: xx-large;
}

h3 {
    padding: 2rem 0 0 0;
    font-size: larger;
}

.experience__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.experience__container > div {
    background: var(--color-bg-variant);
    padding: 3rem 5rem;
    border-radius: 2rem;
    transition: var(--transition);
}   

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-white);
}

.experience__details {
    display: flex;
    padding-left: 20%;
    gap: 0.5rem;
}

.experience__details-icon {
    margin-top: 2px;
    color: var(--color-primary);
}

@media only screen and (max-width: 600px) {
    .experience__container {
        margin: 20px;
    }
}