
* {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --color-bg: black;
    --color-bg-variant: #2B2B2B;
    --color-primary: gray;
    --color-primary-variant: #fff;
    --color-white: #fff;
    --color-light: white;

    --transition: all 500ms ease; 
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
font-family: 'Nunito', sans-serif;
color: white;
background: #000 url(./images/stars.png) repeat top center;
z-index: 0;
}

h2 {
    text-align: center;
    padding: 1.5rem;
    font-size: xx-large;
}

h3 {
    padding: 2rem 0 0 0;
    font-size: larger;
}

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1000px 2500px;
    }
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 10000px;
    }
}

/* .twinkling {
    background: transparent url(./images/twinkling.png) repeat center;
    z-index: 1;
    animation: move-twink-back 150s linear infinite;
} */

.clouds {
    background: transparent url(./images/clouds.png) repeat top center;
    z-index: 2;
    animation: move-clouds-back 400s linear alternate-reverse;
}


/*======GENERAL STYLES=======*/

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

.btn {
    margin: 8px;
    width: max-content;
    display: inline-block;
    text-align: center;
    color: var(--color-white);
    padding: 0.75rem 1rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 2rem;
}

/*======Media queries (Medium devices)=======*/
